@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=VT323&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  font-family: "Archivo Black", sans-serif !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: hsla(240, 69%, 13%, 1) !important;
  background-image: radial-gradient(
      at 14% 14%,
      hsla(257, 58%, 19%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 22% 53%, hsla(267, 49%, 19%, 1) 0px, transparent 50%),
    radial-gradient(at 17% 82%, hsla(319, 7%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 71% 81%, hsla(269, 46%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 84% 29%, hsla(334, 43%, 46%, 1) 0px, transparent 50%) !important;
}
